@tailwind base;
@tailwind components;
@tailwind utilities;
.hero-image {
    background-image: url("https://images.squarespace-cdn.com/content/v1/5f04bd57a1c21d767782adb8/1597284011363-UFJ1QPUKTAL26N4NMQRK/geronimo-giqueaux-1tzpezd7oA8-unsplash.jpg?format=2500w"); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 600px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  }
.hero-image0 {
    background-image: url("https://images.squarespace-cdn.com/content/v1/5f04bd57a1c21d767782adb8/1606863986551-T8FSEB9AENPUU159GEDR/image-asset.jpeg?format=2500w"); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 350px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  }
.hero-image1 {
    background-image: url("https://images.squarespace-cdn.com/content/v1/5f04bd57a1c21d767782adb8/da0b1a45-fb14-41dd-b4b8-ecf03d8be265/brandon-enPHTN3OPRw-unsplash.jpg"); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 600px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  }
.hero-image2 {
    background-image: url("https://images.squarespace-cdn.com/content/v1/5f04bd57a1c21d767782adb8/1670885597121-K9NG1809FRGB03T4HBCV/Insularis_PhotobyTatianaLeite2.JPG?format=2500w"); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 600px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  }
.hero-image3 {
    background-image: url("https://images.squarespace-cdn.com/content/v1/5f04bd57a1c21d767782adb8/1675192256749-8GTAMUZ5LZ3J6PNTUB57/blog-net-negative-lives-utilitarian-animal-welfare.png?format=2500w"); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 450px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  }

